/*
 * highlight.styl
 */
code {
  font-size: 85%;
  color: unset;
  background-color: rgba(0,0,0,0.04);
  padding: 2px 4px;
  border-radius: 4px;
}
figure.highlight {
  background: #f7f7f7;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 16px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow-x: auto;
  position: relative;
  font-size: 16px;
/* GitHub Gist Theme */
}
figure.highlight figcaption {
  color: color-meta;
  font-family: font-mono;
  font-weight: 800;
  margin-bottom: 5px;
  text-shadow: 0 0 1px #fff;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  overflow: unset;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  font-size: 85%;
  color: unset;
}
figure.highlight table {
  width: unset;
  margin-top: 0;
  border-spacing: 0;
}
figure.highlight table .gutter {
  color: color-meta;
  padding-right: 8px;
  border-right: 3px solid #6ce26c;
  text-align: right;
}
figure.highlight table .gutter .line {
  color: #afafaf;
}
figure.highlight table .code {
  z-index: 1000;
  color: #666;
}
figure.highlight table .line {
  height: 20px;
}
figure.highlight table .line.marked {
  background: #d6d6d6;
}
figure.highlight.line-number .code {
  padding-left: 15px;
}
figure.highlight pre .comment {
  color: #969896;
}
figure.highlight pre .meta {
  color: #333;
}
figure.highlight pre .variable,
figure.highlight pre .template-variable,
figure.highlight pre .strong,
figure.highlight pre .emphasis,
figure.highlight pre .quote {
  color: #df5000;
}
figure.highlight pre .keyword,
figure.highlight pre .selector-tag,
figure.highlight pre .type {
  color: #d73a49;
}
figure.highlight pre .literal,
figure.highlight pre .symbol,
figure.highlight pre .bullet,
figure.highlight pre .attribute {
  color: #0086b3;
}
figure.highlight pre .section,
figure.highlight pre .name {
  color: #63a35c;
}
figure.highlight pre .tag {
  color: #333;
}
figure.highlight pre .title,
figure.highlight pre .attr,
figure.highlight pre .selector-id,
figure.highlight pre .selector-class,
figure.highlight pre .selector-attr,
figure.highlight pre .selector-pseudo {
  color: #6f42c1;
}
figure.highlight pre .addition {
  color: #55a532;
  background-color: #eaffea;
}
figure.highlight pre .deletion {
  color: #bd2c00;
  background-color: #ffecec;
}
figure.highlight pre .link {
  text-decoration: underline;
}
figure.highlight pre .number {
  color: #005cc5;
}
figure.highlight pre .string {
  color: #032f62;
}
