@import "tailwindcss";

@theme {
  --color-accent: #86efac;
}

:root {
  color: #fff;
  scroll-behavior: smooth;
  --font-geist: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  background-color: #000;
}

body {
  font-family: var(--font-geist-mono);
  -webkit-font-smoothing: antialiased;
  background-color: #000;
}

html {
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
